.title {
    padding: 1.5rem 2rem 1.5rem 0rem;
    width: 9.5rem;
    text-align: left;
    text-transform: lowercase;
    display: inline-block;
    font-size: 1.3rem;
}

.icon-container {
    width: 2rem;
    text-align: center;
    display: inline-block;
}

.icon {
    font-size: 1rem;
    margin-right: 0.3rem;
    text-align: center;
}
