.container {
    font-family: Montserrat;
    text-align: left;
    width: 1300px;
    height: 1000px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -650px;
    margin-top: -500px;
}

.link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* .item {
    flex: 1 1 0;
} */