<div class="container">
  <div class="inner-container">
    <app-category-title [heading]=finance></app-category-title>
    <div class="link-container">
      <app-link *ngFor="let finance of finances" [heading]=finance.name [icon]=finance.icon class="item"></app-link>
    </div>

    <app-category-title [heading]=media></app-category-title>
    <div class="link-container">
      <app-link *ngFor="let media of medias" [heading]=media.name [icon]=media.icon class="item"></app-link>
    </div>

    <app-category-title [heading]=admin></app-category-title>
    <div class="link-container">
      <app-link *ngFor="let admin of admins" [heading]=admin.name [icon]=admin.icon class="item"></app-link>
    </div>
  </div>
</div>