.container {
    font-family: Montserrat;
    text-align: left;
    width: 100%;
    margin-top: 15rem;
}

.inner-container {
    width: 60%;
    display: table;
    margin: 0 auto;
}

.link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 8rem;
}

/* .item {
    flex: 1 1 0;
} */